<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <style>
        p {
            color: #1c1c50;
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>

<body>
   <h2>{{>header}}</h2>
    <h2> hbs {{title}} page content</h2>
    <h2>{{desc}}</h2>

</body>

</html>